<h1>Bienvenido</h1>

<form action="/jugar" method="post">
	<label for="palabra">palabra</label>
	<input type="text" name="palabra" autofocus="autofocus">
	<input type="submit" name="jugar" value="jugar">
</form>